
{% macro item(id, name, brandName, review, price) %}
{% set imageList = ["images/item/1.png",
    "images/item/2.jpg",
    "images/item/3.jpg",
    "images/item/4.jpg",
    "images/item/5.jpg",
    "images/item/6.jpg",
    "images/item/7.jpg",
    "images/item/8.jpg",
    "images/item/9.jpg",
    "images/item/10.jpg",
    "images/item/11.webp",
    "images/item/12.jpg",
    "images/item/13.jpg",
    "images/item/14.webp",
    "images/item/15.jpg",
    "images/item/16.png",
    "images/item/17.webp",
    "images/item/18.png"] %}
    <a href="product/details?id={{ id }}&name={{ name }}" class="Item" onclick="buttonClick(event)">
        <div class="graphic">
            <img src="{{ imageList[id-1] }}" alt="image">
        </div>
        <div class="info">
            <h5>{{ name }}</h5>
            <h4>{{ brandName }}</h4>
            <div class="rating">
                <div class="row">
                    {% set rating = 0 %}
                    {% set count = 0 %}

                    {% for r in review %}
                        {% set rating = rating + r %}
                    {% endfor %}

                    {% set rating = rating / review|length %}


                    <div style="width: {{ rating * 100 / 5 }}%">
                        <span class="material-symbols-outlined">star</span>
                        <span class="material-symbols-outlined">star</span>
                        <span class="material-symbols-outlined">star</span>
                        <span class="material-symbols-outlined">star</span>
                        <span class="material-symbols-outlined">star</span>
                    </div>
                </div>
            </div>
            <h2>{{ price // 1 }} <sup>{{ (price % 1 * 100)|round }}</sup></h2>
        </div>
    </a>
{% endmacro %}
